{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<div class="text-center mt-50 signup-font">
    <h1> 로그인</h1>
</div>
    

<!-- Section -->
<section class="page-section">
<div class="container relative" style="padding-left:15px;" >


<!-- Tab panes -->
<div class="tab-content tpl-minimal-tabs-cont section-text">

    <div class="tab-pane fade in active show" id="mini-one">
        
        <!-- Login Form -->                            
        <div class="row">
            <div class="col-md-12">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                            <div class="clearfix">
                                {% csrf_token %}
                                <!-- Username -->
                                    <div class="form-group">
                                        <label for="id_login" class="control-label">
                                            아이디
                                        </label>
                                        <input type="text" name="login" placeholder="아이디" autofocus="autofocus"  id="username" class="input-md round form-control" pattern=".{3,100}" required id = "id_login"> 
                                    </div>
                                    
                                    <!-- Password -->
                                    <div class="form-group">
                                            <label for="id_password" class="control-label">
                                                비밀번호
                                            </label>
                                        <input type="password" name="password" placeholder = "비밀번호" required_id="id_password" class="input-md round form-control"  pattern=".{5,100}" >
                                    </div>

                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}   
                            
                            </div>
                            
                            <div class="clearfix">
                                    <!-- Send Button -->
                                    <div class="align-center pt-20">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round btn-full signup-font" style="width:50%;">로그인</button>
                                    </div>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                <!-- End Login Form -->
            </div>
        </div>
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->
        <div class="socialaccount_ballot text-center pt-20">
            <span class="socialaccount_providers">

                <button type="button" class="google" onclick="location.href='/accounts/google/login/?process=login'">
                    <img src="{% static 'img/google.png'%}" width=20%;>
                    <span class="socialaccount_provider google signup-font">구글 로그인 </span>
                    <!-- <a title ="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login"> Google 로그인</a> -->
                    <!-- {% include "socialaccount/snippets/provider_list.html" with process="login" %} -->
                </button>
            </span>
            

            <form class="login" method="POST" action="{% url 'account_login' %}" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="login" id="username" class="input-md round form-control" value="testuser" required id = "id_login"> 
                <input type="hidden" name="password" required_id="id_password" class="input-md round form-control" value="testuserpassword" >
                <button type="submit" class="test">
                    <img src="{% static 'img/record.png'%}" width=20%; >
                    <input type="submit" style="display: none;"><span class="signup-font">테스트 계정 접속</span>
                </button>
            </form>
        </div> 

        <!--         
          <div class="login-or">{% trans 'or' %}</div>
        
        </div>
        
        {% include "socialaccount/snippets/login_extra.html" %} -->
        
        {% endif %}

{% endblock %}

