{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% trans "Sign In" %}</h1>

<!-- Section -->
<section class="page-section">
<div class="container relative" style="padding-left:50px;" >


<!-- Tab panes -->
<div class="tab-content tpl-minimal-tabs-cont section-text">

    <div class="tab-pane fade in active show" id="mini-one">
        
        <!-- Login Form -->                            
        <div class="row">
            <div class="col-md-12">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                            <div class="clearfix">
                                {% csrf_token %}
                                <!-- Username -->
                                <div class="form-group">
                                    <input type="text" name="login" placeholder="아이디" autofocus="autofocus"  id="username" class="input-md round form-control" pattern=".{3,100}" required id = "id_login"> 
                                </div>
                                
                                <!-- Password -->
                                <div class="form-group">
                                    <input type="password" name="password" placeholder = "비밀번호" required_id="id_password" class="input-md round form-control"  pattern=".{5,100}" >
                                </div>
                                
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}   
                            
                            </div>
                            
                            <div class="clearfix">
                                
                                <div class="cf-left-col">
                                    
                                    <!-- Inform Tip -->                                        
                                    <div class="form-tip pt-20">
                                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    </div>
                                    
                                </div>
                                
                                <div class="cf-right-col">
                                    
                                    <!-- Send Button -->
                                    <div class="align-right pt-10">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round" >{% trans "Sign In" %}</button>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                <!-- End Login Form -->
            </div>
        </div>
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->
        
        <div class="socialaccount_ballot">
            <span class="socialaccount_providers">

                <button type="button" class="google" onclick="location.href='/accounts/google/login/?process=login'">
                    <img src="{% static 'img/google.png'%}" width=20%;>
                    <span class = "socialaccount_provider google" > Google 로그인 </span>
                    <!-- <a title ="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login"> Google 로그인</a> -->
                    <!-- {% include "socialaccount/snippets/provider_list.html" with process="login" %} -->
                </button>
            </span>
        </div>
        <br>

        <button type="button" class="test" onlick="#">
            <img src="{% static 'img/record.png'%}" width=20%;>
            <span>테스트 계정</span>
        </button>
<!--         
          <div class="login-or">{% trans 'or' %}</div>
        
        </div>
        
        {% include "socialaccount/snippets/login_extra.html" %} -->
        
        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

{% endblock %}

