{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


<!-- Section -->
<section class="page-section">
    <div class="container relative" style="padding-left: 50px;">

        <!-- Tab panes -->
        <div class="tab-content tpl-minimal-tabs-cont section-text">
            
            <div class="tab-pane fade in active show" id="mini-two">
                
                <!-- Registry Form -->                            
                <div class="row">
                    <div class="col-md-12">
                        
                        <form class="form contact-form" id="contact_form">
                            <div class="clearfix">

                                <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                                    {% csrf_token %}
                                    <!-- Email -->
                                    <div class="form-group">
                                        <div id="div_id_email" class="control-group"> 
                                          <label for="id_email" class="control-label">
                                            이메일 (선택사항)
                                          </label> 
                                          <div class="controls">
                                          <input type="text" name="Email" id="Email" class="input-md round form-control" placeholder="이메일" pattern=".{3,100}" > </div> </div>                   
                                    </div>
                                    
                                    <!-- Username -->
                                    <div class="form-group">
                                        <div id="div_id_username" class="control-group"> 
                                          <label for="id_username" class="control-label">
                                            아이디<span class="asteriskField">*</span> 
                                          </label> 
                                            <div class="controls"> 
                                              <input type="text" name="username" id="username" class="input-md round form-control" placeholder="아이디" pattern=".{3,100}" required> 
                                            </div> 
                                        </div>                   
                                    </div>
                                    
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label for="password" class="control-label">
                                            비밀번호<span class="asteriskField">*</span> 
                                          </label>    
                                        <input type="password" name="password" id="password" class="input-md round form-control" placeholder="비밀번호" pattern=".{5,100}"required> 
                                                
                                    </div>
                                    
                                    
                                    <!-- Re-enter Password -->
                                    <div class="form-group">
                                        <label for="re-password" class="control-label">
                                            비밀번호 (확인) <span class="asteriskField">*</span> 
                                        </label>    
                                        <input type="password" name="re-password" id="re-password" class="input-md round form-control" placeholder="비밀번호 확인" pattern=".{5,100}" required> 
                                    </div>
                
                            
                                    <!-- Send Button -->
                                    <div class="pt-10">
                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        <button class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
                                    </div>
                
                                </form>
                                    
                            </div>

                        
                    </div>
                </div>
                <!-- End Registry Form -->
                
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Section -->




{% endblock %}
