{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="margin-top: 200px;">
    {% for playlist in playlists %}
        <a href ="{% url 'playlists:show' playlist.id %}">show</a>
        <p>{{ playlist.title }}</p>
    {% endfor %}
    <form action="{% url 'playlists:search' %}">
        <div class="input-group col-12">     
            <input type="text" class="form-control" placeholder="검색어" name="search">
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary" value="검색">
            </div>
        </div>
    </form>
</div>
{% endblock %}