{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Playlists</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'playlists:main' %}">Playlists</a>&nbsp;/&nbsp;<span>Main</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->



<!-- Search Section -->
<section class="small-section">
    <div class="container relative">
        
        <!-- Search -->
        <form class="form-inline form" action="{% url 'playlists:search' %}" role="form">
            <div class="search-wrap search-wrap4">
                <button class="search-button animate" type="submit" title="Start Search">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control search-field" placeholder="검색어" name="query">
            </div>
        </form>
        <!-- End Search -->
        <div class="tag-frequency mb-xs-60 text-center">

            {% for tag in tags %}
                <a href="{% url 'playlists:tag' tag.id %}"><i class="fa fa-music"></i>{{ tag }}</a>
            {% endfor %}
        </div>
    </div>

</section>
<!-- End Search Section -->

<!-- Divider -->
<hr class="mt-0 mb-0"/>
<!-- End Divider -->


<!--효정's 레코드플레이리스트-->
<body style="overflow-x: visible;">
		
    <main>
        <div class="view view--grid view--current" style="margin: 10px">
            
            <ul class="grid">
                {% for playlist in playlists %}
                    <!-- Work Item (Lightbox) -->
                    <li class="grid__item">
                        <a class="grid__link" href="{% url 'playlists:show' playlist.pk %}" class="playlist-list">
                            <div class="img-wrap img-wrap--grid">
                                <svg class="lp lp--grid">
                                    <use xlink:href="#icon-lp-mini"></use>
                                </svg>
                                <img class="img img--grid" src="{{ playlist.cover.url }}" alt="album1" />
                            </div>
                            <br>
                            <h3 class="font-alt" style="text-align: center; font-weight: bold;">{{ playlist.title }}</h3>
                            <h4 class="font-alt" style="text-align: center;">{{ playlist.creator }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
        </div><!-- /view-grid -->
        
        <div class="view view--player">
            <!-- 배열을 완성하기 위한 공간 -->	
        </div>
        
        
    </main>

    <!-- 
    - position expander: set opacity to 1, set top and left to the point where the mouse it. Animate to scale3d(1,1,1). To do the opposite, animate to scale3d(0,0,1) or scale(0.001,0.001,1).
    - set class current of the respective single (set class single--current)
    - then set view view--single to view view--single view--current
    - to navigate, set new single to single--current and remove single--current from previous one (needs some adjustment)
    -->
    

<!-- For the demo ad only  
<script type="text/javascript" src="{% static 'RecordPlayer//tympanus.net/codrops/adpacks/demoad.js' %}"></script>
-->  
</body>
<!--효정's 레코드판플레이리스트-->



<!-- paginator -->
<section>
    {% if playlists.has_other_pages %}
        <ul class="pagination justify-content-center mb-40">
            {% if playlists.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ playlists.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&laquo;</a></li>
            {% endif %}
            {% for i in playlists.paginator.page_range %}
                {% if playlists.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if playlists.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ playlists.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</section>
<!-- end paginator -->

{% endblock %}
