{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Playlists</h1>
                    <div class="hs-line-4 font-alt black">
                        Record your music
                    </div>
                </div>
                
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right">
                        <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'playlists:main' %}">Playlists</a>&nbsp;/&nbsp;<span>Main</span>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
<!-- End Head Section -->

<div>
    {% for playlist in playlists %}
        {% if playlist.kinds == 0 or playlist.kinds == 1 %}
            <a href ="{% url 'playlists:show' playlist.id %}">show</a>
            <p>{{ playlist.title }}</p>
        {% endif %}
    {% endfor %}


   {% if playlists.has_previous%}
   <a href="?page=1">first</a>
   <a href="?page={{ playlists.previous_page_number }}">Preivous</a>
   {% endif %}

   <span>{{ playlists.number }}</span>
   <span>of</span>
   <span>{{ playlists.paginator.num_pages }}</span>

   {% if playlists.has_next %}
   <a href = "?page={{ playlists.next_page_number }}">Next</a>
   <a href="?page={{ playlists.paginator.num_pages }}">Last</a>
   {% endif %}

    <form action="{% url 'playlists:search' %}">
        <div class="input-group col-12">     
            <input type="text" class="form-control" placeholder="검색어" name="query">
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary" value="검색">
            </div>
        </div>
    </form>
</div>
{% endblock %}