{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Playlists</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'playlists:main' %}">Playlists</a>&nbsp;/&nbsp;<span>Show</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            새 플레이리스트 생성하기
        </h2>

        <!-- Contact Form -->                            
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <form class="form contact-form" id="contact_form">
                    <div class="clearfix">
                        
                       
                            
                            <!-- Name -->
                            
                            <div class="form-group">
                                <label for="exampleInputFile">제목</label>
                                <input type="text" name="name" id="name" class="input-md round form-control" placeholder="제목" pattern=".{3,100}" required>
                            </div>
                            
                            <!-- Email -->
                            
                            <div class="form-group">
                                <label for="exampleInputFile">태그</label>
                                <input type="email" name="email" id="email" class="input-md round form-control" placeholder=",로 구분해주세요" pattern=".{5,100}" required>
                            </div>
                            
                        
                            
                            <!-- Message -->
                            <div class="form-group"> 
                                <label for="exampleInputFile">설명</label>                                         
                                <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="플레이리스트 설명"></textarea>
                            </div>
                            
                        
                        
                    </div>
                    
                    <div class="clearfix">
                        
                        <div class="cf-left-col">
                            
                            <!-- Inform Tip -->                                        
                            <div class="form-tip pt-20">
                                <i class="fa fa-info-circle"></i> All the fields are required
                            </div>
                            
                        </div>
                        
                        <div class="cf-right-col">
                            
                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    
                    
                    <div id="result"></div>
                </form>
                
            </div>
        </div>
        <!-- End Contact Form -->
        
    </div>
</section>
<!-- End Contact Section -->

<div style="margin-bottom:200px;">
    <form action="{% url 'playlists:new' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="music_id" value="{{ request.GET.music }}">
        제목 : <input type="text" name ="title"><br>
        커버사진 : <input type="file" name="cover"><br>
        <input type="radio" name="kinds" value="0" checked>공개
        <input type="radio" name="kinds" value="1">비공개
        <br>
        설명 : <textarea name="description" placeholder="플레이리스트 설명"></textarea><br>
        태그 : <input type="text" name="tags" placeholder=",로 구분해주세요"><br>
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
