{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Playlists</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'playlists:main' %}">Playlists</a>&nbsp;/&nbsp;<span>Search</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Search Section -->
<section class="small-section">
    <div class="container relative">
        
        <!-- Search -->
        <form class="form-inline form" action="{% url 'playlists:search' %}" role="form">
            <div class="search-wrap search-wrap4">
                <button class="search-button animate" type="submit" title="Start Search">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control search-field" placeholder="검색어" name="query">
            </div>
        </form>
        <!-- End Search -->
        <div class="tag-frequency mb-xs-60 text-center">

            {% for tag in tags %}
                <a href="{% url 'playlists:tag' tag.id %}"><i class="fa fa-music"></i>{{ tag }}</a>
            {% endfor %}
        </div>
    </div>

</section>
<!-- End Search Section -->

<!-- Divider -->
<hr class="mt-0 mb-0"/>
<!-- End Divider -->

<section class="recoders-list row">
    <div class="container relative">     
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            검색결과
        </h2>
        <div class="row">


            <!-- Content -->
            <div class="col-sm-10 col-md-offset-1">

                    <!-- Portfolio Section -->
                    <section class="page-section">
                        <div class="container relative">
                            
                            <!-- Works Grid -->
                            <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white" id="work-grid">
                                
                                {% if search_list.exists %}
                                    {% for result in search_result %}
                                        {% if result.kinds == 0 %}
                                            <!-- Work Item (Lightbox) -->
                                            <li class="work-item mix photography">
                                                <a href="{% url 'playlists:show' playlist.pk %}">
                                                    <div class="work-img">
                                                        <img src="{{ result.cover.url }}" alt="" />
                                                    </div>
                                                    <div class="work-intro">
                                                        <h3 class="work-title">{{ result.title }}</h3>
                                                        <div class="work-descr">
                                                            {{ result.creator }}
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- End Work Item -->
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h3>검색 결과가 없습니다.</h3>
                                {% endif %}
            
                            </ul>
                            <!-- End Works Grid -->
                            
                        </div>
                    </section>
                    <!-- End Portfolio Section -->
    
                </div>
                <!-- End Content -->

        </div>
          
    </div>
</section>

<!-- paginator -->
<section>
    {% if search_result.has_other_pages %}
        <ul class="pagination justify-content-center mb-40">
            {% if search_result.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ search_result.previous_page_number }}{% if request.GET.query%}&query={{ request.GET.query}}{% endif %}">&laquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&laquo;</a></li>
            {% endif %}
            {% for i in search_result.paginator.page_range %}
                {% if playlists.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.query%}&query={{ request.GET.query}}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if search_result.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ search_result.next_page_number }}{% if request.GET.query%}&query={{ request.GET.query}}{% endif %}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</section>
<!-- end paginator -->

{% endblock %}
