{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div style="margin-top: 200px; margin-bottom:200px;">
        
    <!--플레이리스트 데이터-->
    {{ playlist.creator }}<br>
    {{ playlist.musics }}<br>
    {{ playlist.kinds }}<br>
    {{ playlist.tags }}<br>
    {{ playlist.likes }}<br>
    {{ playlist.cover }}<br>
    {{ playlist.title }}<br>

    <!-- 플레이리스트 수정, 삭제 -->
    {% if user == playlist.creator %}
        <a href ="{% url 'playlists:delete' playlist.pk %}"> 삭제 </a>
    {% endif %}

    <!-- 댓글달기 -->
    <form method = "POST" action ="{% url 'playlists:create_comment' playlist.pk %}">
        {% csrf_token %}
        <input type ="text" name = "message">
        <input type ="submit" value = "submit">
    </form>

    {% for comment in playlist. %}
        <p>{{ comment.message }}</p> 
        {% if user == comment.writer %}
            <a href="{% url 'playlists:delete_comment' comment.id %}">댓글 삭제</a>
        {% endif %}
    {% endfor %}

    <!-- 좋아요 -->
    {% if user in playlist.likes.all %}
        <a href ="{% url 'playlists:like_toggle' playlist.id %}">좋아요 취소 </a>
    {% else %}
        <a href ="{% url 'playlists:like_toggle' playlist.id %}">좋아요 </a>    
    {% endif %}

    
    <!-- 팔로우.팔로잉 -->
    {% if request.user != playlist.creator %}
        {% if user in playlist.creator.followers.all %}
        <br>
        <a href="{% url 'users:follow_toggle' playlist.creator.id %}">팔로우 취소 </a>
        {% else %}
        <br>
        <a href ="{% url 'users:follow_toggle' playlist.creator.id %}">팔로우 </a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}