{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Playlists</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'playlists:main' %}">Playlists</a>&nbsp;/&nbsp;<span>Tag</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->


<!-- Search Section -->
<section class="small-section">
    <div class="container relative">
        
        <!-- Search -->
        <form class="form-inline form" action="{% url 'playlists:search' %}" role="form">
            <div class="search-wrap">
                <button class="search-button animate" type="submit" title="Start Search">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control search-field" placeholder="검색어" name="query">
            </div>
        </form>
        <!-- End Search -->
        
    </div>
</section>
<!-- End Search Section -->

<!-- Divider -->
<hr class="mt-0 mb-0"/>
<!-- End Divider -->


<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row masonry">
            {% for playlist in sorted_playlists %}
                {% if playlist.kinds == 0 or playlist.kinds == 1 %}
                
                    <a href ="{% url 'playlists:show' playlist.id %}">
                        <!-- Post Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4 mb-60 mb-xs-40">
                            
                            <div class="post-prev-img">
                                {% if playlist.cover %}
                                    <img src= "{{ playlist.cover.url }}" alt="사진없음"><br>
                                {% endif %}
                            </div>
                        
                            <div class="post-prev-title font-alt">
                                {{ playlist.title }} 
                            </div>
                            
                            <div class="post-prev-info font-alt">
                                {{ playlist.creator}}
                            </div>
                            
                        </div>
                        <!-- End Post Item -->
                    </a>
                {% endif %}
            {% endfor %}
         
        </div>
                
        <!-- Pagination -->
        {% if playlists.has_previous%}
            <a href="?page=1">first</a>
            <a href="?page={{ playlists.previous_page_number }}">Preivous</a>
        {% endif %}

        <span>{{ playlists.number }}</span>
        <span>of</span>
        <span>{{ playlists.paginator.num_pages }}</span>

        {% if playlists.has_next %}
            <a href="?page={{ playlists.next_page_number }}">Next</a>
            <a href="?page={{ playlists.paginator.num_pages }}">Last</a>
        {% endif %}
        <!-- End Pagination -->
        
    </div>
</section>
<!-- End Section -->

{% endblock %}
