{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Playlists</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'playlists:main' %}">Playlists</a>&nbsp;/&nbsp;<span>Tag</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->


<!-- Search Section -->
<section class="small-section">
    <div class="container relative">
        
        <!-- Search -->
        <form class="form-inline form" action="{% url 'playlists:search' %}" role="form">
            <div class="search-wrap">
                <button class="search-button animate" type="submit" title="Start Search">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control search-field" placeholder="검색어" name="query">
            </div>
        </form>
        <!-- End Search -->
        
    </div>
</section>
<!-- End Search Section -->

<!-- Divider -->
<hr class="mt-0 mb-0"/>
<!-- End Divider -->

<section class="recoders-list">
        <div class="container relative">     
            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                태그검색결과
            </h2>
            <div class="row">
    
                {% for playlist in playlists %}
                    {% if playlist.kinds == 0 or playlist.kinds == 1 %}
                        <!-- playlist -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp music-new playlist-list" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="team-item" style="padding-top: 10px;">
                                    
                                <a href="{% url 'playlists:show' playlist.id %}">
                                    <div class="team-item-image">
                                        {% if playlist.cover %}
                                        <img src="{{ playlist.cover.url }}" alt=""/>
                                        {% endif %}
                                    </div>
                                </a>

                                <a href="{% url 'playlists:show' playlist.id %}">
                                <div class="team-item-descr font-alt playlist-bar">
                                        
                                    <div class="team-item-name font-bold">
                                        {{ playlist.title }}
                                    </div>
                                        
                                    <div class="team-item-role">
                                        {{ playlist.creator }}
                                    </div>
                                        
                                </div>
                                </a>   
                            </div>
                        </div>
                   
                    {% endif %}
                {% endfor %}    
                <!-- End playlist -->
    
            </div>
        
        </div>
        
</section>
<section>
        <!--pagination-->
            <hr class="mb-60 music-main-pagination" />
                <div class="music-paginator-num">
                
                {% if playlists.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ playlists.previous_page_number }}">Preivous</a>
                {% endif %}
        
                <span>{{ playlists.number }}</span>
                <span>of</span>
                <span>{{ playlists.paginator.num_pages }}</span>
        
                {% if playlists.has_next %}
                    <a href="?page={{ playlists.next_page_number }}">Next</a>
                    <a href="?page={{ playlists.paginator.num_pages }}">Last</a>
                {% endif %}
                
                
                </div>
            <hr class="mb-60 music-main-pagination" />  
        <!-- End Pagination -->
</section>

{% endblock %}
