/*전체적인 폰트 */
@font-face { 
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*navbar.html css*/
.main-nav.dark {
    background-color: #FFF8E5;
}
.main-nav.dark .mobile-nav {
    color: #34495E;
}
.main-nav.dark .inner-nav ul > li > a.active {
    color: #34495E;
}
.main-nav.dark .inner-nav ul > li > a {
    color:#34495E;
}
.mn-has-sub{
    height: 76px;
    line-height: 75px;
}


/*base.html css*/
.banner-heading {
    color: #34495E;
    letter-spacing:0;
    text-align: center;
    font-family: 'GyeonggiBatang';
    font-size: 2rem;
    margin-bottom: 0;
}
.logo-image {
    max-width: 100%; /* 이미지의 최대사이즈 */
    width /***/: auto; /* only IE8 */
    height: auto;
    vertical-align: bottom;
}
hr {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 63%;
}

/*main.html css*/
/*main 사진 있는데! */
.bg-dark-alfa-50:before, .bg-dark-alfa-50 .YTPOverlay:before {
    background-image: url("mainback.gif");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: #E8E5D2;

    filter: brightness(50%);
    animation-name: mainback;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@-webkit-keyframes mainback {
    0% {
      filter: brightness(130%);
    }
    100% {
      filter: brightness(50%);
    }
  }

.home-content {
    position: absolute;
    top: 85%;
	left: 50%;
    transform: translate( -50%, -50% );
}
.hs-line-14 {
    text-align: center;
    font-family: 'GyeonggiBatang';
    font-size: 2rem;
    color:white;
}

/*검색창 css */
.form input[type="text"]{
    font-size:1.4rem;
    color: #34495E;
    background-color: #E8E5D2;
    font-family: 'GyeonggiBatang';
    text-align: center;
}
.form-inline form {
    width:100%!important;
    text-align: center;
}
.search-wrap1{
    width:17%;
    top: 70%;
    left: 15%;
    height: 37px;
    transform: translate( -45%, -70% );
    font-family: 'GyeonggiBatang';
}
.search-wrap2{
    width:70%;
    top: 70%;
	left: 45%;
    transform: translate( -50%, -50% );
}

/*tag css */
.tag-frequency {
    font-family: 'GyeonggiBatang';
    font-size: 1.5rem;
    letter-spacing :0.7rem;
    color:#FAAFAF;
}
.tag-frequency > a {
    letter-spacing :1rem;
}


/*recoder's list 보여주기 있는데 */
.recoders-list {
    padding-bottom:50px;
}
.font-alt {
    font-family: 'GyeonggiBatang';
}
.text h3 {
    color:red;
    font-family: 'GyeonggiBatang';
}
.text {
    color:white;
    font-family: 'GyeonggiBatang';
}
.mb-70 {
    margin-top:50px;
    margin-bottom:50px;
}

/*musics/main.html */
.bg-gray-lighter{
    background-color: #E8E5D2;
    padding:50px;
}
.search-wrap > .form-group {
    display:inline!important;
}
.form-group > .form-control {
    background-color: #E8E5D2;
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size:1.4rem;
    color: #34495E;
}
.musictable{
    padding:0;
}
.col-md-10{
    margin: 0 auto;
}
.shopping-cart-table{
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 1.4rem;
    color: #34495E;
    background-color: #E8E5D2;
}
.music-plus {
    width: 5rem;
    float:right;
    margin-bottom: 10px;
}
.music-main-pagination{
    margin-bottom:1rem;
}
.music-paginator-num {
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 1.4rem;
    color: #34495E;
}
.font-bold {
    margin:0;
}
.mb-60 {
    margin-bottom:5%;
}

/*musics/new.html */
.music-new{
    background-color: #E8E5D2;
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 1.4rem;
    color: #34495E;
    box-shadow: 1px 1px 1px grey;
}
.music-add {
    margin:2% auto;
}
.addtext{
    margin:5% auto;
}
.row-b{
    display: flex;
    flex-wrap: wrap;
}

/*musics/show.html */
.titlefont {
    margin:5% 0 2% 0;
    font-size:x-large;
    font-weight:bold;
}
.blog-item-data {
    font-size:1.4rem;
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 2rem;
}
.modal-content {
    color:#34495E;
}

.hide{
    background-color : #E8E5D2;
    border-color: transparent;
}
.blog-item-q p{
    background : transparent;
    font-family: 'GyeonggiBatang';
    text-align: center;
    color: #34495E;
}
.blog-item {
    margin-bottom:3%;
}
.blog-item-foot {
    float:center;
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 2rem;
    color: #34495E;
}

/*musics.add.html */
.add-submit {
    width:100%;
    background-color : transparent;
    border-radius:4px;
    border:1px solid rgba(0,0,0, .1);
}
.add-submit:hover{
    background-color : rgba(0,0,0, .1);
}

/*users/main.html */
.blog-media img {
    border-radius:100%;
    width: auto; height: auto;
    max-width: 300px;
    max-height: 300px;
    display: block; margin: 0px auto;
}
.page-section {
    padding: 5% 0;
}
.team-item-name {
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 2rem;
    color: #34495E;
}
.user-follow {
    background-color : transparent;
    border-color : transparent;
    background-size:50%;
}
.modal-body {
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 2rem;
    color: #34495E;
}
.user-edit {
    background-color: #E8E5D2;
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 1.4rem;
    color: #34495E;
    box-shadow: 1px 1px 1px grey;
    padding:5%;
}
.introduction {
    width:100%;
    height:100px;
    line-height: 1.5;
}
.user-name {
    font-family: 'GyeonggiBatang';
    text-align: center;
    font-size: 1.8rem;
    color: #34495E;
    line-height : normal;
}

/* signup font */
.signup-font {
    font-family: 'GyeonggiBatang';
}