{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>New</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<div style="margin-top:200px;">
{% if playlist_list.exists %}
    {% for playlist in playlists %}
        <form action ="{% url 'musics:add_music' %}" method ="POST">
            {% csrf_token %}
            {{ playlist.title }}
            <input type ="radio" name="playlist_id" value="{{ playlist.id }}">
            <input type="hidden" name="music_id" value ="{{ request.GET.music }}">
            <br>
    {% endfor %}
        <input type="submit" class ="btn btn-primary">
    </form>
</div>
{% endif %}

{% endblock %}
