{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>Main</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<div>
    <a href="{% url 'musics:main' %}">메인으로</a>
    
    <!--음악 수정-->
    <div class="container">
        <h1>음악 수정</h1>
        
        <form action="{% url 'musics:update' music.id %}" method="POST">
            {% csrf_token %}
            <h3>제목</h3>
            <input type="text" name="title" value="{{ music.title }}">

            <h3>가수</h3>
            <input type="text" name="singer" value="{{ music.singer }}">

            <h3>장르</h3>
            <input type="text" name="genre" value="{{ music.genre }}">

            <h3>가사</h3>
            <input type="text" name="lyrics" value="{{ music.lyrics }}">
            
            <h3>링크</h3>
            <input type="text" name="link" value="{{ music.link }}">    

            <input class="btn btn-light" type="submit" value="제출">
        </form>
    </div>
   

</div>
{% endblock %}
