{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>Main</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<div>
    <!-- Pagination -->

        <!-- 곡 목록 -->
        {%  for music in musics %}

        제목: <a href="{% url 'musics:show' music.id %}">{{ music.title }}</a>
        가수: {{ music.singer }}
        작성자: {{ music.writer }}
        <br>

        {% endfor %}
       
        {% if musics.has_previous %}
            <a href = "?page=1">맨 앞으로</a>
            <a href="?page={{ musics.previous_page_number }}"> 이전으로</a>
        {% endif %}            
            <span>{{ musics.number }}</span>
            <span> of </span>    
            <span>{{ musics.paginator.num_pages }}</span>    
        {% if musics.has_next %}
            <a href="?page={{ musics.next_page_number }}">다음으로</a>
            <a href="?page={{ musics.paginator.num_page }}">맨 뒤로</a>        

        {% endif %}
    

    <!-- 곡 검색 -->
    <form action ="{% url 'musics:search' %}">
        <div class="form-group">
            <select class="form-control col-md-2" name="option">
                <option value="title">제목</option>
                <option value="singer">가수명</option>
            </select>
            
            <input type="text" class="form-control col-md-4" placeholder="검색어" name="query">
            <input type="submit" value="검색" class ="btn btn-primary">
        </div>
    </form>
    <br><br>


     <!-- 곡 등록 -->
     <a href="{% url 'musics:new' %}">곡 등록하기 </a>

    
</div>
{% endblock %}