{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div style ="margin-top:200px;">
    
    <!--곡 목록-->
    {%  for music in musics %}

    제목: <a href="{% url 'musics:show' music.id %}">{{music.title}}</a>
    작성자: {{music.writer}}
    가수: {{music.singer}}
    <br>
     
    {% endfor %}
        <!--Pagination-->
 
        {% if is_paginated %}
        <nav>
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                <a href="?page={{ page_obj.previous_page_number }}">
                    <span>Prev</span>
                </a>
                </li>
            {% else %}
                <li class="disabled">
                <a href="#">
                    <span>Previous</span>
                </a>
                </li>
            {% endif %}

            {% for page in page_range %}
            <li {% if page == page_obj.number %}class="active"{% endif %}>
              <a href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endfor %}
    
          {% if page_obj.has_next %}
            <li>
              <a href="?page={{ page_obj.next_page_number }}">
                <span>Next</span>
              </a>
            </li>
          {% else %}
            <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
              <a href="#">
                <span>Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

    <!--곡 검색-->
    <form action ="{% url 'musics:search' %}">
        <input type="text" placeholder="검색어" name="search">
        <input type="submit" value="검색" class ="btn btn-primary">
    </form>
    <br><br>


     <!--곡 등록-->
     <a href="{% url 'musics:new' %}">곡 등록하기 </a>

    
</div>
{% endblock %}