{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>Main</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->



<!-- Section -->
<section class="page-section musictable">
    <div class="container">

        <!-- Search Section -->
        <section class="small-section music-main-search">
            
            <!-- Search -->
            <form class="form-inline form" action="{% url 'musics:search' %}">
                
                <div class="search-wrap column">
                    <div class="form-group">
                        <select class="form-control col-md-2" name="option">
                            <option value="title">제목</option>
                            <option value="singer">가수명</option>
                        </select>
                    </div>
                        <div class="search-wrap">    
                            <button class="search-button animate" type="submit">
                                <i class="fa fa-search" style="margin-top: 24px;"></i>
                            </button>
                            <input type="text" class="form-control search-field" placeholder="검색어" name="query">
    
                        </div>
    
                </div>
            </form> 
            <!-- End Search -->

        </section>
        <!-- End Search Section -->

        
        <div class="row">
            <div class="col-md-10">
                
                <table class="table table-striped shopping-cart-table">
                    <tr>
                        <th class="hidden-xs">
                            
                        </th>
                        <th>
                            제목
                        </th>
                        <th>
                            가수
                        </th>
                        <th>
                            작성자
                        </th>
                        <th>
                            삭제
                        </th>
                    </tr>
                    
                    {%  for music in musics %}  
                    <tr>
                        <td class="hidden-xs">
                            <img src="{% static 'hyojeong/images/lp.png' %}" alt="" width="50px" height="50px" style="margin-left: auto; margin-right: auto; display: block;"/>
                        </td>
                        <td>
                            <a href="{% url 'musics:show' music.id %}">{{ music.title }}</a>
                        </td>
                        <td>
                            {{ music.singer }}
                        </td>
                        <td>
                            {{ music.writer }}
                        </td>
                        <td>
                            {% if user == music.writer %}
                                <!-- deleteModal -->
                                <a href="#" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-times"></i> <span class="hidden-xs">삭제</span></a>
                            {% endif %}
                            
							<!-- deleteModal -->
							<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="deletModalLabel">게시글 삭제하기</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										정말로 게시글을 삭제하시겠습니까?<br>
										삭제된 글은 복구할 수 없습니다.
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
									<a class="btn btn-primary" href="{% url 'musics:delete' music.id %}">확인</a>
									</div>
									</div>
								</div>
							</div>
                        </td>
                    </tr> 
                    {% endfor %}
                </table>
                
                  
                <!--pagination-->
                <hr class="mb-60 music-main-pagination" />
                <div class="music-paginator-num">
                {% if musics.has_previous %}
                    <a href="?page=1">맨 앞으로</a>
                    <a href="?page={{ musics.previous_page_number }}">이전으로</a>
                {% endif %}            
                    <span>{{ musics.number }}</span>
                    <span> of </span>    
                    <span>{{ musics.paginator.num_pages }}</span>    
                {% if musics.has_next %}
                    <a href="?page={{ musics.next_page_number }}">다음으로</a>
                    <a href="?page={{ musics.paginator.num_page }}">맨 뒤로</a>
                {% endif %}
                </div>
                <hr class="mb-60 music-main-pagination" />

                <!--곡 추가섹션-->
                <a href="{% url 'musics:new' %}"><img src="{% static 'bobae/images/music-plus.png' %}" alt="" class="music-plus"/></a>
            </div>
        </div>
    
    </div>
</section>
<!-- End Section -->

{% endblock %}
