{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>New</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

 <!-- Section -->
 <section class="page-section" style="padding:8rem 0;">
    <div class="container relative">
        
        <!-- Product Content -->
        <div class="col-sm-10 col-sm-offset-1 music-new">
            
            <!-- Product Images -->
            <div class="col-sm-5 mb-md-30 music-add">
                
                <div class="post-prev-img">
                    <img src="{% static 'hyojeong/images/lp.png' %}" alt="" />
                </div>
                
            </div>
            <!-- End Product Images -->
            
            <!-- Product Description -->
            <div class="blog-item-date">
                <a href="{% url 'musics:main' %}"><span class="date-num"><img src="{% static 'bobae/images/back.png' %}" style="width: 50px;" alt="" /></span></a>
            </div>
            <div class="col-sm-5 col-md-5 mb-xs-40 addtext">
                
                <h3 class="mt-0">음악 등록</h3>
                
                <hr class="mt-0 mb-30"/>
                
                <div class="section-text mb-30">
                    <form action="{% url 'musics:create' %}" method="POST" id="next">
                        {% csrf_token %}
                        <input type="text" name="title" class="search-field" placeholder="제목을 입력하세요" required>
                        <br>
                        <br>
                        <input type="text" name="singer" class="search-field" placeholder="가수를 입력하세요" required>
                        <br><br>
                        <input class="btn btn-mod btn-large btn-round" type="submit" value="노래 불러오기">
                        </form>
                </div>
                
            </div>
            <!-- End Product Description -->
            
        </div>
        <!-- End Product Content -->
        
    
    </div>
</section>
<!-- End Section -->
<div id="loading">
        <img src="{% static 'bobae/images/loader.gif' %}" alt="loading" />
        
</div>
{% endblock %}
