{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<a href="{% url 'musics:main'%}">MAIN</a>


<div class="container">
        <h1>음악 수정</h1>
        <form action="{% url 'update' music.id %}" method="POST">
            {% csrf_token %}
            <h3>제목</h3>
            <input type="text" name="title" >
            <h3>작성자</h3>
            <input type="text" name="writer" >
            <h3>가수</h3>
            <input type="text" name="singer">
            <h3>장르</h3>
            <input type="text" name="genre" >
            <h3>가사</h3>
            <input type="text" name="lyrics">
            <h3>링크</h3>
            
            <input class="btn btn-light" type="submit" value="제출">
        </form>
    </div>
    
</form>
{% endblock %}