{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>Search</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Search Section -->
<section class="small-section">
        <div class="container relative"> 
            <!-- Search -->
                    
            <form class="form-inline form" role="form" action="{% url 'musics:search' %}">
                                
                <div class="search-wrap1 search-wrap" style="display: inline-flex;">
                        <select name="option" style="width:100%; height:100%; margin-top: 5px; background-color:#E8E5D2;">
                            <option value="title">제목</option>
                            <option value="singer">가수명</option>
                        </select>
                </div>
                               
                <div class="search-wrap2 search-wrap">
                    <button class="search-button animate" type="submit" title="Start Search">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="text" class="form-control search-field" placeholder="검색어" name="query">
                </div>
                                
            </form>             
         <!-- End Search -->
                        
        </div>
    </section>
<!-- End Search Section -->

<!-- Section -->
<section class="page-section musictable">
    <div class="container">
        
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                {% if search_list.exists %}
                    <table class="table table-striped shopping-cart-table">
                        <tr>
                            <th class="hidden-xs">
                                
                            </th>
                            <th>
                                제목
                            </th>
                            <th>
                                가수
                            </th>
                            <th>
                                작성자
                            </th>
                            <th>
                                삭제
                            </th>
                        </tr>

                        {% for result in search_result %}
                        <tr>
                            <td class="hidden-xs">
                                <img src="{% static 'hyojeong/images/lp.png' %}" alt="" width=50px height=50px style="margin-left: auto; margin-right: auto; display: block;"/>
                            </td>
                            <td>
                                <a href="{% url 'musics:show' result.id %}">{{ result.title }}</a>
                            </td>
                            <td>
                                {{ result.singer }}
                            </td>
                            <td>
                                {{ result.writer }}
                            </td>
                            <td>
                                {% if user == result.writer %}
                                    <a href="{% url 'musics:delete' result.id %}"><i class="fa fa-times"></i> <span class="hidden-xs">삭제</span></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h3 class="music-paginator-num">검색 결과가 없습니다.</h3>
                {% endif %}


                <!--pagination-->
                <hr class="mb-60 music-main-pagination" />
                <div class="music-paginator-num">
                {% if search_result.has_previous %}
                    <a href="?page=1">맨 앞으로</a>
                    <a href="?page={{ search_result.previous_page_number }}">이전으로</a>
                {% endif %}
                    <span>{{ search_result.number }}</span>
                    <span> of </span>    
                    <span>{{ search_result.paginator.num_pages }}</span>
                {% if search_result.has_next %}
                    <a href="?page={{ search_result.next_page_number }}">다음으로</a>
                    <a href="?page={{ search_result.paginator.num_page }}">맨 뒤로</a>
                {% endif %}
                </div>

                <!--곡 추가섹션-->
                <a href="{% url 'musics:new' %}"><img src="{% static 'bobae/images/music-plus.png' %}" alt="" class="music-plus"/></a>
            </div>
        </div>
    
    </div>
</section>
<!-- End Section -->

{% endblock %}
