{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
  <div class="relative container align-left">
      
      <div class="row">
          
          <div class="col-md-8">
              <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
              <div class="hs-line-4 font-alt black">
                  Record your music
              </div>
          </div>
          
          <div class="col-md-4 mt-30">
              <div class="mod-breadcrumbs font-alt align-right">
                  <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>Show</span>
              </div>
              
          </div>
      </div>
      
  </div>
</section>
<!-- End Head Section -->

 <!-- Section -->
 <section class="page-section" style="padding:8rem 0;">
	<div class="container relative">
		
		<div class="row">
			
			<!-- Content -->
			<div class="col-sm-10 col-sm-offset-1 music-new">
				
				<!-- Post -->
				<div class="blog-item">
					
					<!-- Date -->
					<div class="blog-item-date">
						<a href="{% url 'musics:main' %}"><span class="date-num" style="width: 50px;"><img src="{% static 'bobae/images/back.png' %}" alt="" /></span></a>
					</div>
					
					<!-- Post Title -->
					<h2 class="blog-item-title font-alt titlefont"><a href="#">노래 제목 : {{ music.title }}</a></h2>
					
					<!-- Author, Categories, Comments -->
					<div class="blog-item-data">
						<i class="fa fa-user"></i> 가수 : {{ music.singer }}
						<span class="separator">&nbsp;</span>
						<i class="fa fa-folder-open"></i>
						장르 : {{ music.genre }}
						<span class="separator">&nbsp;</span>
						<i class="fa fa-comments"></i> 글 작성자 : {{ music.writer }}

						

						{% if user == music.writer %}
						<div class="kyjbox">
							<span class="separator">&nbsp;</span>
							<a class="btn btn-mod btn-circle btn-small kyj" href="{% url 'musics:edit' music.id %}">수정</a>
							<!-- deleteModal -->
							<button class="btn btn-mod btn-circle btn-small" data-toggle="modal" data-target="#deleteModal">
								삭제
							</button>

						</div>	

							<!-- deleteModal -->
							<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="deletModalLabel">게시글 삭제하기</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
										정말로 게시글을 삭제하시겠습니까?<br>
										삭제된 글은 복구할 수 없습니다.
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-mod btn-gray btn-round" id="modal-cancel" data-dismiss="modal">취소</button>
									<a class="btn btn-mod btn-round" href="{% url 'musics:delete' music.id %}">확인</a>
									</div>
									</div>
								</div>
							</div>
						{% endif %}
						
					</div>
					
					<!-- Media Gallery -->
					<div class="blog-media">
						{% if url == "None" %}
							<p>영상이 없습니다.</p>
						{% else %}
							<iframe width="640" height="360" src="{{ music.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{% endif %}
					</div>
					
					<!--가사-->
					<button id="show_lyrics" class="btn btn-mod btn-border btn-circle btn-small">가사 펼치기</button>
          			<button id="hide_lyrics" class="btn btn-mod btn-border btn-circle btn-small hide">가사 접기</button>
          
					<!-- Blockquote -->
					<div class="music_box hide" id="lyrics">
						{{ music.lyrics|linebreaks }}
					</div>
					<!-- End Blockquote -->

					
					
				</div>
				<!-- End Post -->
				
			</div>
			<!-- End Content -->
			
		</div>
	</div>
	<br>
	<!-- Read More Link -->
	<div class="blog-item-foot">
		{% if user.is_authenticated %}
			<!-- 플레이리스트에 곡 추가 -->
			<button type="button" class="btn btn-mod btn-round  btn-small" data-toggle="modal" data-target="#addPlaylist">
				<img src="{% static 'bobae/images/playlistplus.png' %}" alt=""/>
				<br>
				플레이리스트에 추가하기
			</button>
				
			<!-- 플레이리스트에 곡 추가 Modal -->
			<div class="modal" id="addPlaylist" tabindex="-1" role="dialog" aria-labelledby="addPlaylistLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="addPlaylistLabel">플레이리스트에 추가하기</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						기존 플레이리스트에 추가하시겠습니까?
					</div>
					<div class="modal-footer">
					<a href="{% url 'playlists:new' %}?music={{ music.id }}" class="btn btn-mod btn-round">새 플레이리스트 생성하기</a>
					<a href="{% url 'musics:add' %}?music={{ music.id }}" class="btn btn-mod btn-round">기존 플레이리스트에 추가</a>
					</div>
				</div>
				</div>
			</div>
		{% else %}
			<h3>플레이리스트에 곡을 추가하려면 <a href="{% url 'account_login' %}">로그인</a> 하세요.</h3>
		{% endif %}
			
		</div>
</section>
<!-- End Section -->
{% endblock %}
