{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
  <div class="relative container align-left">
      
      <div class="row">
          
          <div class="col-md-8">
              <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Musics</h1>
              <div class="hs-line-4 font-alt black">
                  Record your music
              </div>
          </div>
          
          <div class="col-md-4 mt-30">
              <div class="mod-breadcrumbs font-alt align-right">
                  <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="{% url 'musics:main' %}">Musics</a>&nbsp;/&nbsp;<span>Show</span>
              </div>
              
          </div>
      </div>
      
  </div>
</section>
<!-- End Head Section -->

<div style ="margin-footer:200px;">

	<!--곡 상세정보-->
	노래 제목 : {{ music.title }}<br>
	가수 : {{ music.singer }}<br>
	장르 : {{ music.genre }}<br>
	글 작성자 : {{ music.writer }}<br>
	가사<br>{{ music.lyrics|linebreaks }}<br>
	링크 : {{ music.link }}<br>

	{% if user == music.writer %}
		<a href="{% url 'musics:edit' music.id %}">수정</a>
		<a href="{% url 'musics:delete' music.id %}">삭제</a>
	{% endif %}


	<!--플레이리스트에 곡 추가-->

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		플레이리스트에 추가하기
	</button>
		
	<!-- Modal -->
	<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			...
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
		</div>
	</div>
	  
</div>

{% endblock %}
