
.comment{
    color: black;
    font-family: 'GyeonggiBatang';
}

.font-only{
    font-family: 'GyeonggiBatang';
}
.color-only{
    color: #34495E;
}
.playlist-bar{
    margin-bottom: 10px;
}
.btn-mod.btn-small {
    background-color: black;
    color:white;
}

.select-search{
    width: 30%;
    margin: 2px;
    background-color: #E8E5D2;
}

/*lp껍질*/
.lp-cover img {
    width: auto; height: auto;
    max-width: 300px;
    max-height: 300px;
    display: block; margin: 0px auto;
}

/*user playlists 2column배치*/
.playlist-padding{
    padding-left: 15px; 
    padding-right: 15px;
}
