
.comment{
    color: black;
    font-family: 'GyeonggiBatang';
}

.font-only{
    font-family: 'GyeonggiBatang';
}

.playlist-bar{
    margin-bottom: 10px;
}
.btn-mod.btn-small {
    background-color: black;
    color:white;
}

.select-search{
    width: 30%;
    margin: 2px;
    background-color: #E8E5D2;
}


