
.comment{
    color: black;
    font-family: 'GyeonggiBatang';
}

.font-only{
    font-family: 'GyeonggiBatang';
}

.playlist-list{
    box-shadow: 1px 1px 1px 1px rgb(216, 211, 184);
}

.playlist-bar{
    margin-bottom: 10px;
}
.btn-mod.btn-small {
    background-color: black;
    color:white;
}