{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Users</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="#">Users</a>&nbsp;/&nbsp;<span>Likes</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            
            <!-- Sidebar -->
            <div class="col-sm-4 col-md-3 sidebar">
                
                
                <!-- Widget -->
                <div class="widget">
                    
                    <h5 class="widget-title font-alt">Categories</h5>
                    
                    <div class="widget-body font-alt">
                        <ul class="clearlist widget-menu">
                            <li>
                                <a href="{% url 'users:main' user.id %}" title="">Profile</a>
                                <small>
                                    
                                </small>
                            </li>
                            <li>
                                <a href="{% url 'users:musics' user.id %}" title="">My Music</a>
                                <small>
                                    
                                </small>
                            </li>
                            <li>
                                <a href="{% url 'users:playlists' user.id %}" title="">My Playlists</a>
                                <small>
                                    
                                </small>
                            </li>
                            <li>
                                <a href="{% url 'users:likes' user.id %}" title="">Playlists I Like</a>
                                <small>
                                    
                                </small>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <!-- End Widget -->
                
            </div>
            <!-- End Sidebar -->
            
            <!-- Content -->
            <div class="col-sm-8 col-md-offset-1">
                {% if playlist_lists.exists %}    
                <div class="view view--grid view--current">
                
                        <ul class="grid">
                            {% for playlist in playlists %}
                                <!-- Work Item (Lightbox) -->
                                <li class="grid__item playlist-padding">
                                    <a class="grid__link" href="{% url 'playlists:show' playlist.pk %}">
                                        <div class="img-wrap img-wrap--grid">
                                            <svg class="lp lp--grid">
                                                <use xlink:href="#icon-lp-mini"></use>
                                            </svg>
                                            <img class="img img--grid" src="{{ playlist.cover.url }}" alt="album1" />
                                        </div>
                                        <br>
                                        <h3 class="font-alt" style="text-align: center; font-weight: bold;">{{ playlist.title }}</h3>
                                        <h4 class="font-alt" style="text-align: center;">{{ playlist.creator }}</h4>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        
                </div><!-- /view-grid -->
                    
                <div class="view view--player">
                    <!-- 배열을 완성하기 위한 공간 -->	
                </div>
            {% else %}
                <h3>생성한 플레이리스트가 없습니다.</h3>
            {% endif %}
            
        </div>
        <!-- End Content -->

        </div>
        
    </div>
</section>
<!-- End Section -->

<!-- paginator -->
<section>
    {% if playlists.has_other_pages %}
        <ul class="pagination justify-content-center mb-40">
            {% if playlists.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ playlists.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&laquo;</a></li>
            {% endif %}
            {% for i in playlists.paginator.page_range %}
                {% if playlists.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if playlists.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ playlists.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</section>
<!-- end paginator -->

{% endblock %}
