{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Users</h1>
                    <div class="hs-line-4 font-alt black">
                        Record your music
                    </div>
                </div>
                
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right">
                        <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="#">뭐넣지</a>&nbsp;/&nbsp;<span>Users</span>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
<!-- End Head Section -->

<div>
    <img src="{{ user_profile.image.url }}" alt=""><br>
    username : {{ user_profile.username }}<br>
    {{ user_profile.introduction }}<br>
    <!-- 팔로우, 팔로잉 -->
    {% if user != user_profile %}
        {% if user in user_profile.followers.all %}
            <a href="{% url 'users:follow_toggle' user_profile.id %}" class="btn btn-info">팔로우 취소</a><br>
        {% else %}
            <a href ="{% url 'users:follow_toggle' user_profile.id %}" class="btn btn-info">팔로우</a><br>
        {% endif %}
    {% endif %}
    <!-- /팔로우, 팔로잉 -->
    팔로우 <a href="#">{{ user_profile.followers.count }}</a>명<br>
    팔로잉 <a href="#">{{ user_profile.followings.count }}</a>명<br>

    <a href="{% url 'users:musics' user_profile.id %}">작성한 노래 게시글</a><br>
    <a href="{% url 'users:playlists' user_profile.id %}">생성한 플레이리스트</a><br>
    <a href="{% url 'users:likes' user_profile.id %}">좋아하는 플레이리스트</a><br>

    {% if user == user_profile %}
        <a href="{% url 'users:edit' user_profile.id %}">회원정보 수정</a>
    {% endif %}
</div>

{% endblock %}