{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">Users</h1>
                <div class="hs-line-4 font-alt black">
                    Record your music
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="{% url 'main' %}">Home</a>&nbsp;/&nbsp;<a href="#">Users</a>&nbsp;/&nbsp;<span>Playlists</span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            
            <!-- Sidebar -->
            <div class="col-sm-4 col-md-3 sidebar">
                
                
                <!-- Widget -->
                <div class="widget">
                    
                    <h5 class="widget-title font-alt">Categories</h5>
                    
                    <div class="widget-body font-alt">
                        <ul class="clearlist widget-menu">
                            <li>
                                <a href="{% url 'users:main' user.id %}" title="">Profile</a>
                                <small>
                                    
                                </small>
                            </li>
                            <li>
                                <a href="{% url 'users:musics' user.id %}" title="">My Music</a>
                                <small>
                                    
                                </small>
                            </li>
                            <li>
                                <a href="{% url 'users:playlists' user.id %}" title="">My Playlists</a>
                                <small>
                                    
                                </small>
                            </li>
                            <li>
                                <a href="{% url 'users:likes' user.id %}" title="">Playlists I Like</a>
                                <small>
                                    
                                </small>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <!-- End Widget -->
                
            </div>
            <!-- End Sidebar -->
            
            <!-- Content -->
            <div class="col-sm-8 col-md-offset-1">

                <!-- Portfolio Section -->
                <section class="page-section">
                    <div class="container relative">
                        
                        <!-- Works Grid -->
                        <ul class="works-grid work-grid-2 work-grid-gut clearfix font-alt hover-white" id="work-grid">
                            
                        {% if playlist_lists.exists %}
    
                            {% for playlist in playlists %}
                            <!-- Work Item (Lightbox) -->
                            <li class="work-item mix photography">
                                <a href="{% url 'playlists:show' playlist.pk %}">
                                    <div class="work-img">
                                        <img src="{{ playlist.cover.url }}" alt="" />
                                    </div>
                                    <div class="work-intro">
                                        <h3 class="work-title" style="font-size: 20px;">{{ playlist.title }}</h3>
                                        
                                    </div>
                                </a>
                            </li>
                            <!-- End Work Item -->
                            {% endfor %}
    
                        {% else %}
                            <h3>생성한 플레이리스트가 없습니다.</h3>
                        {% endif %}
     
                        </ul>
                        <!-- End Works Grid -->
                        
                    </div>
                </section>
                <!-- End Portfolio Section -->
                
                
            </div>
            <!-- End Content -->

            
        </div>
        
    </div>
</section>
<!-- End Section -->

<!-- paginator -->
<section>
    {% if playlists.has_other_pages %}
        <ul class="pagination justify-content-center mb-40">
            {% if playlists.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ playlists.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&laquo;</a></li>
            {% endif %}
            {% for i in playlists.paginator.page_range %}
                {% if playlists.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if playlists.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ playlists.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</section>
<!-- end paginator -->

{% endblock %}
