{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>RE:CORD</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="#">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/198/musical-note_1f3b5.png">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'rhythm/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'rhythm/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'rhythm/css/style-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'rhythm/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'rhythm/css/vertical-rhythm.min.css' %}">
        <link rel="stylesheet" href="{% static 'rhythm/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'rhythm/css/magnific-popup.css' %}">        
        
        <!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
           
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
                 
            <!-- Navigation panel -->
            <nav class="main-nav dark stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="intro.html" class="logo">
                            <img src="{% static 'rhythm/images/logo-white.png' %}" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist local-scroll">
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub active">Home <i class="fa fa-angle-down"></i></a>
                                
                                <!-- Sub Multilevel -->
                                <ul class="mn-sub mn-has-multi">
                                    
                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">Multi Page</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="mp-index.html">Main Demo</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-01.html">Image Parallax 1</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-02.html">Image Parallax 2</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-03.html">Image Parallax 3</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-04.html">Image Parallax 4</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-06.html">Image Parallax 5</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-12.html">Fullwidth Image</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-05.html">Text Rotator</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-07.html">Slider Fullscreen</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-08.html">Slider Zoom Effect</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-09.html">Slider Fullwidth</a>
                                            </li>
                                            
                                        </ul>
                                        
                                    </li>
                                    <!-- End Sub Column -->
                                    
                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">&nbsp;</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="mp-index-10.html">Slider Background</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-17.html">Slider Revolution 1</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-18.html">Slider Revolution 2</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-20.html">Content Slider</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-11.html">With Play Button</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-13.html">BG Video Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-14.html">BG Video Fullscreen 1</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-15.html">BG Video Fullscreen 2</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-19.html">BG HTML5 Video (local)</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-16.html">Agency Header</a>
                                            </li>
                                            <li>
                                                <a href="#special-demos">Special Demos <span class="label-new round">New</span></a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    <!-- End Sub Column -->
                                    
                                    
                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">One Page</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="index.html">Main Demo</a>
                                            </li>
                                            <li>
                                                <a href="index-01.html">Image Parallax 1</a>
                                            </li>
                                            <li>
                                                <a href="index-02.html">Image Parallax 2</a>
                                            </li>
                                            <li>
                                                <a href="index-03.html">Image Parallax 3</a>
                                            </li>
                                            <li>
                                                <a href="index-04.html">Image Parallax 4</a>
                                            </li>
                                            <li>
                                                <a href="index-06.html">Image Parallax 5</a>
                                            </li>
                                            <li>
                                                <a href="index-12.html">Fullwidth Image</a>
                                            </li>
                                            <li>
                                                <a href="index-05.html">Text Rotator</a>
                                            </li>
                                            <li>
                                                <a href="index-07.html">Slider Fullscreen</a>
                                            </li>
                                            <li>
                                                <a href="index-08.html">Slider Zoom Effect</a>
                                            </li>
                                            <li>
                                                <a href="index-09.html">Slider Fullwidth</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    <!-- End Sub Column -->
                                    
                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">&nbsp;</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="index-10.html">Slider Background</a>
                                            </li>
                                            <li>
                                                <a href="index-17.html">Slider Revolution 1</a>
                                            </li>
                                            <li>
                                                <a href="index-18.html">Slider Revolution 2</a>
                                            </li>
                                            <li>
                                                <a href="index-20.html">Content Slider</a>
                                            </li>
                                            <li>
                                                <a href="index-11.html">With Play Button</a>
                                            </li>
                                            <li>
                                                <a href="index-13.html">BG Video Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="index-14.html">BG Video Fullscreen 1</a>
                                            </li>
                                            <li>
                                                <a href="index-15.html">BG Video Fullscreen 2</a>
                                            </li>
                                            <li>
                                                <a href="index-19.html">BG HTML5 Video (local)</a>
                                            </li>
                                            <li>
                                                <a href="index-16.html">Agency Header</a>
                                            </li>
                                            <li>
                                                <a href="#special-demos">Special Demos <span class="label-new round">New</span></a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    <!-- End Sub Column -->
                                    
                                </ul>
                                <!-- End Sub Multilevel -->
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Pages <i class="fa fa-angle-down"></i></a>
                                
                                <!-- Sub Multilevel -->
                                <ul class="mn-sub mn-has-multi">
                                    
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">Group 1</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="pages-about-1.html">About Us 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-about-2.html">About Us 2</a>
                                            </li>
                                            <li>
                                                <a href="pages-about-3.html">About Us 3</a>
                                            </li>
                                            <li>
                                                <a href="pages-services-1.html">Services 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-services-2.html">Services 2</a>
                                            </li>
                                            <li>
                                                <a href="pages-services-3.html">Services 3</a>
                                            </li>
                                            <li>
                                                <a href="pages-clients.html">Clients</a>
                                            </li>
                                            <li>
                                                <a href="pages-landing.html">Landing Page</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">Group 2</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="pages-team-1.html">Team 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-team-2.html">Team 2</a>
                                            </li>
                                            <li>
                                                <a href="pages-faq-1.html">FAQ 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-faq-2.html">FAQ 2</a>
                                            </li>
                                            <li>
                                                <a href="pages-pricing-1.html">Pricing 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-pricing-2.html">Pricing 2</a>
                                            </li>
                                            <li>
                                                <a href="pages-contact-1.html">Contact 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-contact-2.html">Contact 2</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">Group 3</a>
                                        
                                        <ul>
                                            <li>
                                                <a href="pages-gallery-1col.html">Gallery Col 1</a>
                                            </li>
                                            <li>
                                                <a href="pages-gallery-2col.html">Gallery Col 2</a>
                                            </li>
                                            <li>
                                                <a href="pages-gallery-3col.html">Gallery Col 3</a>
                                            </li>
                                            <li>
                                                <a href="pages-gallery-4col.html">Gallery Col 4</a>
                                            </li>
                                            <li>
                                                <a href="pages-gallery-6col.html">Gallery Col 6</a>
                                            </li>
                                            <li>
                                                <a href="pages-account.html">Login / Register</a>
                                            </li>
                                            <li>
                                                <a href="pages-under-construction.html">Under Construction</a>
                                            </li>
                                            <li>
                                                <a href="pages-404.html">Error 404</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                
                                </ul>
                                <!-- End Sub Multilevel -->
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Elements <i class="fa fa-angle-down"></i></a>
                                
                                <!-- Sub Multilevel -->
                                <ul class="mn-sub mn-has-multi">
                                    
                                    <li class="mn-sub-multi">
                                        
                                        <ul>
                                            <li>
                                                <a href="elements-accordions.html"><i class="fa fa-plus-circle fa-sm"></i> Accordions</a>
                                            </li>
                                            <li>
                                                <a href="elements-bars.html"><i class="fa fa-tachometer fa-sm"></i> Bars (Progress)</a>
                                            </li>
                                            <li>
                                                <a href="elements-buttons.html"><i class="fa fa-link fa-sm"></i> Buttons</a>
                                            </li>
                                            <li>
                                                <a href="elements-features.html"><i class="fa fa-th-large fa-sm"></i> Features Box</a>
                                            </li>
                                            <li>
                                                <a href="elements-forms.html"><i class="fa fa-align-justify fa-sm"></i> Form Fields</a>
                                            </li>
                                            <li>
                                                <a href="elements-grid.html"><i class="fa fa-th fa-sm"></i> Grid</a>
                                            </li>
                                            <li>
                                                <a href="elements-icons-et.html"><i class="fa fa-heart-o fa-sm"></i> Icons Et-line</a>
                                            </li>
                                            <li>
                                                <a href="elements-icons-fe.html"><i class="fa fa-heart fa-sm"></i> Icons Font Awesome</a>
                                            </li>
                                            <li>
                                                <a href="elements-messages.html"><i class="fa fa-comment fa-sm"></i> Messages</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li class="mn-sub-multi">
                                        
                                        <ul>
                                            <li>
                                                <a href="elements-page-titles.html"><i class="fa fa-header fa-sm"></i> Page Titles</a>
                                            </li>
                                            <li>
                                                <a href="elements-sliders.html"><i class="fa fa-chevron-circle-right fa-sm"></i> Sliders</a>
                                            </li>
                                            <li>
                                                <a href="elements-tabs.html"><i class="fa fa-columns fa-sm"></i> Tabs</a>
                                            </li>
                                            <li>
                                                <a href="elements-typography.html"><i class="fa fa-font fa-sm"></i> Typography</a>
                                            </li>
                                            <li>
                                                <a href="elements-video-sound.html"><i class="fa fa-youtube-play fa-sm"></i> Video / Sound</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-dark.html"><i class="fa fa-header fa-sm"></i> Header Dark</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-dark-transparent.html"><i class="fa fa-header fa-sm"></i> Header Dark Transp</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-white.html"><i class="fa fa-header fa-sm"></i> Header White</a>
                                            </li>
                                            <li>
                                                <a href="elements-header-white-transparent.html"><i class="fa fa-header fa-sm"></i> Header White Transp</a>
                                            </li>
                                        </ul>
                                    </li>
                                
                                </ul>
                                <!-- End Sub Multilevel -->
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Portfolio <i class="fa fa-angle-down"></i></a>
                                
                                <!-- Sub -->
                                <ul class="mn-sub">
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Boxed <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-boxed-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Boxed (Gutter) <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-boxed-gutter-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Boxed (Titles) <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-boxed-titles-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Wide <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-wide-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Wide (Gutter) <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-wide-gutter-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Wide (Titles) <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-wide-titles-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Masonry <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-masonry-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-4col.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-5col.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-blackhover.html">Black Hovers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Single <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-single-1.html">Single 1</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-2.html">Single 2</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-3.html">Single 3</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-4.html">Single 4</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-5.html">Single 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="portfolio-parallax.html">Parallax</a>
                                    </li>
                                    
                                    <li>
                                        <a href="portfolio-promo.html">Promo</a>
                                    </li>
                                    
                                </ul>
                                <!-- End Sub -->
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Blog <i class="fa fa-angle-down"></i></a>
                                
                                <!-- Sub -->
                                <ul class="mn-sub">
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Classic <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub to-left">
                                            <li>
                                                <a href="blog-classic-sidebar-left.html">Sidebar Left</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic-sidebar-right.html">Sidebar Right</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic-fullwidth.html">Fullwidth</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Columns <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub to-left">
                                            <li>
                                                <a href="blog-columns-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="blog-columns-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="blog-columns-4col.html">4 Columns</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Masonry <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub to-left">
                                            <li>
                                                <a href="blog-masonry-2col.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry-3col.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry-4col.html">4 Columns</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="mn-has-sub">Single <i class="fa fa-angle-right right"></i></a>
                                    
                                        <ul class="mn-sub to-left">
                                            <li>
                                                <a href="blog-single-sidebar-left.html">Sidebar Left</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-sidebar-right.html">Sidebar Right</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-fullwidth.html">Fullwidth</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    
                                    
                                </ul>
                                <!-- End Sub -->
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Shop <i class="fa fa-angle-down"></i></a>
                                
                                <!-- Sub -->
                                <ul class="mn-sub to-left">
                                    
                                    <li>
                                        <a href="shop-columns-2col.html">2 Columns</a>
                                    </li>
                                    <li>
                                        <a href="shop-columns-3col.html">3 Columns</a>
                                    </li>
                                    <li>
                                        <a href="shop-columns-4col.html">4 Columns</a>
                                    </li>
                                    <li>
                                        <a href="shop-single.html">Single Product</a>
                                    </li>
                                    <li>
                                        <a href="shop-cart.html">Shopping Cart</a>
                                    </li>
                                    
                                </ul>
                                <!-- End Sub -->
                                
                            </li>
                            <!-- End Item With Sub -->
                            
                            <!-- Divider -->
                            <li><a>&nbsp;</a></li>
                            <!-- End Divider -->
                            
                            
                            <!-- Button -->
                            <li>
                                <a href="http://themeforest.net/item/rhythm-multipurpose-onemulti-page-template/10140354" target="_blank"><span class="btn btn-mod btn-circle bg-green">Buy Template Now</span></a>
                            </li>
                            <!-- End Button -->
                            
                         </ul>
                    </div>
                    <!-- End Main Menu -->
                    

                </div>
            </nav>
            <!-- End Navigation panel -->

           {% block content %}

           {% endblock %}
            <br>
            <!-- Footer -->
            <footer class="page-section bg-gray-lighter footer pb-60">
                <div class="container">
                    
                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="#top"><img src="images/logo-footer.png" width="78" height="36" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-60">
                        <a href="https://www.facebook.com/DGUlion/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/re.cord_official/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/JuYeong0413/record" title="Github" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                    <!-- End Social Links -->  
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="https://github.com/JuYeong0413/record" target="_blank">&copy; RECORD 2019</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Made with love for great people.
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="{% static 'rhythm/js/jquery-1.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.easing.1.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/bootstrap.min.js' %}"></script>        
        <script type="text/javascript" src="{% static 'rhythm/js/SmoothScroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.scrollTo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.localScroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.viewport.mini.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.sticky.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.parallax-1.1.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.fitvids.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/isotope.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/imagesloaded.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/wow.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/masonry.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.simple-text-rotator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/all.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/contact-form.js' %}"></script>
        <script type="text/javascript" src="{% static 'rhythm/js/jquery.ajaxchimp.min.js' %}"></script>        
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        
    </body>
</html>
