{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!--main사진 section입니당-->

<section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-small" id="home">
    <div class="js-height-parent container" style="height: 600px;"></div>

        <!-- Main -->
        <div class="home-content">

            <div class="home-text">

                <!--record에 record하자-->
                <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                    <br>
                    여러분이 알고 있는 <span style="color:red">명곡을</span> RE:CORD에 <span style="color:red">RECORD</span>하세요.
                </h2>

                <!--검색어 입력공간-->
                <form class="form-inline form" action="{% url 'playlists:search' %}" role="form">
                    <div class="search-wrap search-wrap3">
                        <button class="search-button animate" type="submit" title="Start Search">
                            <i class="fa fa-search"></i>
                        </button>
                        <input type="text" class="form-control search-field" placeholder="RE:CORDERS의 좋아하는 음악들을 찾아보세요. ex)밤샘코딩할 때 듣는 음악" name="query" id="main-placeholder">
                    </div>
                </form>

                <!--자주 입력된 태그를 넣는 공간입니당-->
                
                <div class="tag-frequency mb-110 mb-xs-60">
                    자주 입력된 태그
                    {% for tag in tags %}
                    <a href="{% url 'playlists:tag' tag.id %}"><i class="fa fa-music"></i>{{ tag }}</a>
                    {% endfor %}
                </div>
                    
            </div>
        </div>
        <!-- End Main -->
        
    </div>
</section>



<!--main recoder's list section입니당-->
<section class="recoders-list">
    <div class="container relative">     
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            RE:CORDer’s LIST
        </h2>
        <div class="row">

            {% for playlist in playlists %}
            <!-- playlist -->
            <div class="col-sm-4 mb-xs-30 wow fadeInUp music-new playlist-list" style="visibility: visible; animation-name: fadeInUp;">
                <div class="team-item" style="padding-top:10px;">
                    
                    <a href="{% url 'playlists:show' playlist.id %}">
                        <div class="team-item-image">
                            <img src="{{ playlist.cover.url }}" alt=""/>
                        </div>
                    </a>
                    <a href="{% url 'playlists:show' playlist.id %}">
                    <div class="team-item-descr font-alt playlist-bar">
                        
                    <a href="{% url 'playlists:show' playlist.id %}">
                        <div class="team-item-name">

                            {{ playlist.title }}
                        </div>
                    </a>
                        
                        <div class="team-item-role">
                            {{ playlist.creator }}
                        </div>
                        
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- End playlist -->
            
        </div>
    </div>
</section>

{% endblock %}