{% load staticfiles %}

<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="{% url 'main' %}" class="logo">
                <img src="{% static 'hyojeong/images/logo.png' %}" alt="" class="logo-image"/>
            </a>
        </div>
        <div class="mobile-nav active">
            <i class="fa fa-bars" style="color: #34495E;"></i>
        </div>
        
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav js opened" style="display: block;">
            <ul class="clearlist local-scroll" style="max-height:656px;">
                <li class="active">
                    <a href="{% url 'main' %}"><i class="fa fa-home"></i> Home</a>                    
                </li>
                <li class="active">
                    <a href="{% url 'musics:main' %}"><i class="fa fa-music"></i> Musics</a>     
                </li>
                <li class="active">
                    <a href="{% url 'playlists:main' %}"><i class="fa fa-list-ul"></i> Playlists</a>
                </li>
                
                {% if user.is_authenticated %}
                    <li class="active">
                        <a href="{% url 'users:main' user.id %}"><i class="fa fa-user"></i> Mypage</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'account_signup' %}"><i class="fa fa-group"></i> Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- End Main Menu -->      

    </div>
    <hr color="#BFBFBF" style="margin-top:0; border-top:3px solid rgba(0,0,0,.1);">
</nav>
<!-- End Navigation panel -->