/* 가사 펼치기, 접기 */
.hide {
    display: none;
}

/* 모바일 버전 navbar */
.mobile-on .desktop-nav > ul {
    background: #E8E5D2;
}

.mobile-on .desktop-nav ul li a {
    color: #34495E;
}

.mobile-nav {
    border-left: none;
    border-right: none;
}

/* 가사 */
#lyrics {
    margin-top: 20px;
}

/* musics main search */
.music-main-search {
    margin-left: 50px;
    margin-bottom: -100px;
}
