/* 가사 펼치기, 접기 */
.hide {
    display: none;
}

/* 모바일 버전 navbar */
.mobile-on .desktop-nav > ul {
    background: #E8E5D2;
}

.mobile-on .desktop-nav ul li a {
    color: #34495E;
}

.mobile-nav {
    border-left: none;
    border-right: none;
}

/* 가사 */
#lyrics {
    margin-top: 20px;
}

/* musics main search */
.music-main-search {
    margin-left: 50px;
    margin-bottom: -100px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select {
    text-transform: none;
}

.user-introduction {
    text-align: center;
    background-color: rgba(0,0,0, .1);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tpl-tabs li.active a  {
    background-color: #FFF8E5;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #FFF8E5;
}

.team-item-name {
    text-transform: none;
}

#modal-cancel:hover {
    color: #444!important;
}