@font-face { 
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.music_box{
    font-family: 'GyeonggiBatang';
    background-color: transparent;
    text-align: center;
    font-weight:bold;
    font-size:16px;
    padding-top:5%;
    padding-bottom:5%;
}


.nav-tabs{
    justify-content:center;
}

.form-group{
    height:50%;
    width:50%;
    margin:0 auto;
}

.google{
    background-color:rgb(221, 79, 67);
    color:white;
    border-radius:3px;
    border-color:#e14152;
    width:20%;
    height:20%;
    font-weight:normal;
    font-size:10px;
    
}

.test{
    background-color:rgb(16,17,0);
    border-radius:3px;
    border-color:rgb(16,17,10);
    color:white;
    width:20%;
    height:20%;
    display:float;
    float:right;
}

.btn-mod.btn-round{
    border-radius:4px;
    border:1px solid rgba(0,0,0, .1);
}

.btn:hover{
    color:white!important;
}
